.my-footer-divider {
  margin: 0.5rem auto 0 auto;
  max-width: 50px;
  background-color: hsl(217, 71%, 53%);
  height: 3px;
}

.my-footer-container {
  padding: 1.5rem;
  background-color: #ffffff;
}
